* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: url("/assets/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    text-align: center;  
}

.content h1{
    color: white;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 55px;
}

.content h1:hover{
    color: red;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}